<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rest Api</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container pt-3" id="app" v-cloak>
        <h1>rest api</h1>

        <form class="form-inline mb-3" @submit.prevent="createContact">
            <div class="form-group mr-5">
                <label for="name" class="mr-3">Имя</label>
                <input type="text" id="name" class="form-control" v-model="form.name">
            </div>
            <div class="form-group mr-5">
                <label for="value" class="mr-3">Значени</label>
                <input type="text" id="value" class="form-control" v-model="form.value">
            </div>
            <button class="btn btn-primary" :disabled="!canCreate">Создать</button>
        </form>

        <div v-if="loading">
            <Loader />
        </div>
        <div v-else-if="contacts.length">
            <div class="card mb-3" v-for="contact in contacts">
                <div class="card-body">
                    <h5 class="card-title" :style="{color: contact.marked ? 'red' : ''}">{{contact.name}}</h5>
                    <p class="card-text">{{contact.value}}</p>
                    <button class="btn btn-primary" @click="markContact(contact.id)" :disabled="contact.marked">Обозначить</button>
                    <button class="btn btn-danger" @click="removeContact(contact.id)">Удалить</button>
                </div>
            </div>
        </div>
        <p v-else>Контактов пока нет</p>
    </div>

<script type="module" src="./frontend.js"></script>
</body>
</html>
